*{
    margin: 0;
    padding: 0;
}
@media (min-width:  1024px) {

#active-mb{
    display: none;
}
body {
    margin-left: 90px !important;
    overflow-x: hidden;
}

.header{
    display: flex;
    flex-direction: column;
    width: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}

.header-left{
    width: 90px;
    height: 80px;
    background-color: #313131;
}

.header-left .logo{
    width: 70%;
    height: 40px;
    margin-left: 15%;
    margin-top: 15%;
}

.menu{
    list-style: none;
    text-decoration: none;
    width: 120px;
    height: 100vh;
    background-color: #313131;
    overflow: hidden;
    font-size: 12px;
    animation: dderoulement .3s linear both;
    display: flex;
    flex-direction: column;

}

.menu li {
    border-top: 1px solid #313131;
    overflow: hidden;
}

.menu .bt{
    display: flex;
    width: 200px;
    padding: 16px 20px;
    background-color: #313131;
    color: white;
    position: relative;
    text-decoration: none;
}

.menu .bt::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #313131;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}

.menu .bt i{
    font-size: 22px;
    width: 28px;
    height: 22px;
    margin-right: 16px;
    margin-left: 14px;
}

.menu .bt span{
    opacity: 0;
    width: 100%;
}

.menu:hover .bt span{
    transition: 0.1s;
    opacity: 1;
    display: inline;
}

.menu:hover{
    animation: deroulement .3s linear both;
}

@keyframes deroulement{
    0%{
        width: 90px;
    }
    100%{
        width: 200px;
    }
}

@keyframes dderoulement{
    0%{
        width: 200px;
    }
    100%{
        width: 90px;
    }
}


.menu .smenu {
background: #313131;
overflow: hidden;
transition: max-height 0.3s;
max-height: 0;
}

.menu .smenu a {
    display: inline-block;
    color: white;
    padding: 16px 26px;
    position: relative;
    text-decoration: none;
}

.menu .smenu a:before{
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #103d82;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
    text-decoration: none;
}

.menu .smenu a:hover:before{
    opacity: 1;
    text-decoration: none;
}

.menu li:hover .smenu{
    max-height: 10em;
}

.social-media{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
}

.social-media i{
    color: white;
    margin-top: 15%;
    font-size: 1.4em;
}
  
  
  .menu .vie-scolaire > ul > li:hover > a {
    color: #a20909;
  }
  
  .menu .vie-scolaire > ul  {
    background-color: #a20909;
  }
  
  .vie-scolaire {
    background-color: #a20909;
  }
  
  .vie-scolaire:hover > a {
    color: #a20909;
  }
  
  .menu.vie-scolaire {
    border-bottom: 2px solid #a20909;
  }
  
  .menu .eau > ul > li:hover > a {
    color: #2596aa;
  }
  
  .menu .eau > ul  {
    background-color: #2596aa;
  }
  
  .eau {
    background-color: #2596aa;
  }
  
  .eau:hover > a {
    color: #2596aa;
  }
  
  .menu.eau {
    border-bottom: 2px solid #2596aa;
  }
  
  .menu .emploi > ul > li:hover > a {
    color: #c6431b;
  }
  .menu .emploi > ul  {
    background-color: #c6431b;
  }
  
  .emploi {
    background-color: #c6431b;
  }
  
  .emploi:hover > a {
    color: #c6431b;
  }
  
  .menu.emploi{
    border-bottom: 2px solid #c6431b;
  }
  
  .menu .amenagement > ul > li:hover > a {
    color: #5f72b2;
  }
  
  .menu .amenagement > ul  {
    background-color: #5f72b2;
  }
  
  .amenagement {
    background-color: #5f72b2;
  }
  
  .amenagement:hover > a {
    color: #5f72b2;
  }
  
  .menu.amenagement{
    border-bottom: 2px solid #5f72b2;
  }
  
  .menu .tourisme > ul > li:hover > a {
    color: #d5872e;
  }
  
  .menu .tourisme > ul  {
    background-color: #d5872e;
  }
  
  div.tourisme.smenu {
    background-color: #d5872e;
  }
  
  
  .menu.tourisme{
    border-bottom: 2px solid #d5872e;
  }
  
  .menu .environnement > ul > li:hover > a {
    color: #2aa868;
  }
  
  .menu .environnement > ul  {
      background-color: #2aa868;
  
  }
  
  div.environnement.smenu {
      background-color: #2aa868;
  }
  
  
  .menu.environnement{
    border-bottom: 2px solid #2aa868;
  }
  
  .menu .intercom > ul > li:hover > a {
    color: #103d82;
  }
  
  .intercom > ul  {
    background-color: #103d82;   
  }
  
  .intercom {
    background-color: #103d82;
  }
  
  .intercom:hover > a {
    color: #103d82;
  }
  
  .menu.intercom{
    border-bottom: 2px solid #103d82;
  }
}


  @media (min-width: 320px) and (max-width: 1024px) {

    
#active-mb{
  height: 100%;
  width: 90px;
  border-radius: 0;
  transition: 0.3s;
  background-color: #103d82;
  color: #fff ;
}

#active-mb i {
  font-size: 150%;
}

.header{
  width: 100vw;
  z-index: 10000;
}

.header-left{
  width: 100%;
  height: 80px;
  background-color: #103d82;
}

.header-left .logo{
  width: 85px;
  height: 60px;
  margin-left: 32%;
}

.menu{
  display: none;
  list-style: none;
  text-decoration: none;
  width: 100%;
  height: 100vh;
  background-color: #313131;
  font-size: 12px;
  overflow: hidden;
}

.menu ul{
height: 70%;
}

.menu li {
  border-top: 1px solid #313131;
  height: 20%;
}

.menu .bt{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 32px 40px;
  background-color: #313131;
  color: white;
  position: relative;
  text-decoration: none;
}

.menu .bt i{
  font-size: 22px;
  width: 28px;
  height: 22px;
  margin-right: 16px;
  margin-left: 14px;
}

.menu .smenu {
  display: none;
}

.social-media{
display: none;
}
  }