*{
    margin: 0;
    padding: 0;
}

span {
  margin-right: 15px;
}

#active-menu{
  width: 90px;
  height: 45px;
  background-color: #103d82;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top:0;
  text-align: center;
}

#active-menu span{
  width: 90px;
  height: 45px;
  margin-top: 5px;
}

.has-sidebar header{
  transform: translate(0);
  transition: transform 0.3s;
}

header{
    width: 240px;
    height: 100vh;
    transform: translate(-240px);
    transition: transform 0.3s;
  }

.header{
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100vh;
    background-color: #103d82;
}

.header-left{
    width: 240px;
    padding-left: 35px;
    padding-top: 10px;
}

.logo{
    width: 150px;
    transition: all 0.5s;
    z-index: 1000;
}

.menu-p{
  margin-top: 5%;
}

.menu ul{
    font-family: sans-serif;
    list-style: none;
}

.menu > ul > li{
    border-right: 2px solid #d5872e;
}

.menu ul li{
    padding: 15px;
    position: relative;
    width: 240px;
    vertical-align: middle;
    background-color: #ecf0f1;
    border-top: 1px solid black;
    cursor: pointer;
    transition: all 0.3s;
}


.menu ul ul {
    transition: all 0.1s;
    opacity: 0;
    position: absolute;
    display: none;
    left: 101%;
    top: -2%;
}


.menu ul li a{
    text-decoration: none;
    color: #212529;
}

.menu ul li:hover > .lvl2{
    opacity: 1;
    display: block;
    font-size: .8em;
}

.menu ul li > .lvl2 > li{
    height: 100%;
   }


:hover.menu a {
    color: inherit;
    }
  
  
  .menu .vie-scolaire > ul > li:hover > a {
    color: #a20909;
  }
  
  .menu .vie-scolaire > ul  {
    background-color: #a20909;
  }
  
  .vie-scolaire {
    background-color: #a20909;
  }
  
  .vie-scolaire:hover > a {
    color: #a20909;
  }
  
  .menu-p.vie-scolaire {
    border-bottom: 2px solid #a20909;
  }
  
  .menu .eau > ul > li:hover > a {
    color: #2596aa;
  }
  
  .menu .eau > ul  {
    background-color: #2596aa;
  }
  
  .eau {
    background-color: #2596aa;
  }
  
  .eau:hover > a {
    color: #2596aa;
  }
  
  .menu-p.eau {
    border-bottom: 2px solid #2596aa;
  }
  
  .menu .emploi > ul > li:hover > a {
    color: #c6431b;
  }
  .menu .emploi > ul  {
    background-color: #c6431b;
  }
  
  .emploi {
    background-color: #c6431b;
  }
  
  .emploi:hover > a {
    color: #c6431b;
  }
  
  .menu-p.emploi{
    border-bottom: 2px solid #c6431b;
  }
  
  .menu .amenagement > ul > li:hover > a {
    color: #5f72b2;
  }
  
  .menu .amenagement > ul  {
    background-color: #5f72b2;
  }
  
  .amenagement {
    background-color: #5f72b2;
  }
  
  .amenagement:hover > a {
    color: #5f72b2;
  }
  
  .menu-p.amenagement{
    border-bottom: 2px solid #5f72b2;
  }
  
  .menu .tourisme > ul > li:hover > a {
    color: #d5872e;
  }
  
  .menu .tourisme > ul  {
    background-color: #d5872e;
  }
  
  .tourisme {
    background-color: #d5872e;
  }
  
  .tourisme:hover > a {
    color: #d5872e;
  }
  
  .menu-p.tourisme{
    border-bottom: 2px solid #d5872e;
  }
  
  .menu .environnement > ul > li:hover > a {
    color: #2aa868;
  }
  
  .menu .environnement > ul  {
      background-color: #2aa868;
  
  }
  
  .environnement {
      background-color: #2aa868;
  }
  
  .environnement:hover > a {
    color: #2aa868;
  }
  
  .menu-p.environnement{
    border-bottom: 2px solid #2aa868;
  }
  
  .menu .intercom > ul > li:hover > a {
    color: #103d82;
  }
  
  .intercom > ul  {
    background-color: #103d82;   
  }
  
  .intercom {
    background-color: #103d82;
  }
  
  .intercom:hover > a {
    color: #103d82;
  }
  
  .menu-p.intercom{
    border-bottom: 2px solid #103d82;
  }


.lvl3{
    display: none
}