*{
    margin: 0;
    padding: 0;
}

header{
    width: 180px;
    height: 100vh;
}

.header{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 100vh;
    background-color: #103d82;
}

.header-left{
    width: 180px;
    padding-left: 10px;
    padding-bottom: 10px;
    transition: height 0.5s;
}

.logo{
    width: 150px;
    transition: all 0.5s;
    z-index: 1000;
}

.menu ul{
    font-family: sans-serif;
    list-style: none;
}

.menu > ul > li{
    border-right: 2px solid #d5872e;
}

.menu ul li{
    padding: 15px;
    position: relative;
    width: 180px;
    vertical-align: middle;
    background-color: #ffffff;
    border-top: 1px solid black;
    cursor: pointer;
    transition: all 0.3s;
}


.menu ul ul {
    transition: all 0.1s;
    opacity: 0;
    position: absolute;
    display: none;
    left: 100%;
    top: -2%;
}




.menu ul li a{
    text-decoration: none;
    color: #212529;
}

.menu ul li:hover > .lvl2{
    opacity: 1;
    display: block;
    font-size: .8em;
}

.menu ul li > .lvl2 > li{
    height: 100%;
    background-color: white;
   }


:hover.menu a {
    color: inherit;
    }
  
  
  .menu .vie-scolaire > ul > li:hover > a {
    color: #a20909;
  }
  
  .menu .vie-scolaire > ul  {
    border: 2px solid #a20909;
  }
  
  .header-top.vie-scolaire {
    background-color: #a20909;
  }
  
  .vie-scolaire:hover > a {
    color: #a20909;
  }
  
  .menu-p.vie-scolaire {
    border-bottom: 2px solid #a20909;
  }
  
  .menu .eau > ul > li:hover > a {
    color: #2596aa;
  }
  
  .menu .eau > ul  {
    border: 2px solid #2596aa;
  }
  
  .header-top.eau {
    background-color: #2596aa;
  }
  
  .eau:hover > a {
    color: #2596aa;
  }
  
  .menu-p.eau {
    border-bottom: 2px solid #2596aa;
  }
  
  .menu .emploi > ul > li:hover > a {
    color: #c6431b;
  }
  .menu .emploi > ul  {
    border: 2px solid #c6431b;
  }
  
  .header-top.emploi {
    background-color: #c6431b;
  }
  
  .emploi:hover > a {
    color: #c6431b;
  }
  
  .menu-p.emploi{
    border-bottom: 2px solid #c6431b;
  }
  
  .menu .amenagement > ul > li:hover > a {
    color: #5f72b2;
  }
  
  .menu .amenagement > ul  {
    border: 2px solid #5f72b2;
  }
  
  .header-top.amenagement {
    background-color: #5f72b2;
  }
  
  .amenagement:hover > a {
    color: #5f72b2;
  }
  
  .menu-p.amenagement{
    border-bottom: 2px solid #5f72b2;
  }
  
  .menu .tourisme > ul > li:hover > a {
    color: #d5872e;
  }
  
  .menu .tourisme > ul  {
    border: 2px solid #d5872e;
  }
  
  .header-top.tourisme {
    background-color: #d5872e;
  }
  
  .tourisme:hover > a {
    color: #d5872e;
  }
  
  .menu-p.tourisme{
    border-bottom: 2px solid #d5872e;
  }
  
  .menu .environnement > ul > li:hover > a {
    color: #2aa868;
  }
  
  .menu .environnement > ul  {
      border: 2px solid #2aa868;
  
  }
  
  .header-top.environnement {
      background-color: #2aa868;
  }
  
  .environnement:hover > a {
    color: #2aa868;
  }
  
  .menu-p.environnement{
    border-bottom: 2px solid #2aa868;
  }
  
  .menu .intercom > ul > li:hover > a {
    color: #103d82;
  }
  
  .menu .intercom > ul  {
    border: 2px solid #103d82;   
  }
  
  .header-top.intercom {
    background-color: #103d82;
  }
  
  .intercom:hover > a {
    color: #103d82;
  }
  
  .menu-p.intercom{
    border-bottom: 2px solid #103d82;
  }

.intercom{
  background-color: #103d82;
}

.lvl3{
    display: none
}